.flex {
  display: flex;
}

.flex-ver {
  @extend .flex;
  flex-direction: column;
}

.flex-1 {
  flex: 1;
}

.items-center {
  align-items: center;
}

.jusitfy-center {
  justify-content: center;
}

.flex-center {
  @extend .jusitfy-center;
  @extend .items-center;
}
