$default_font_size: 12px;

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
button,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}
body {
  background: #fff;
  font-size: $default_font_size;
  font-family: '宋体', 'Arial Narrow', Verdana, Helvetica, sans-serif;
  -webkit-text-size-adjust: 100%;
}

td,
th,
caption {
  font-size: $default_font_size;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  font-size: 100%;
}
address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
  font-style: normal;
  font-weight: normal;
}
a {
  text-decoration: none;
}
img {
  border: none;
}
ol,
ul,
li {
  list-style: none;
}
input,
textarea,
select,
button {
  font: $default_font_size '宋体', 'Arial Narrow', Verdana, Helvetica,
    sans-serif;
}
table {
  border-collapse: collapse;
}
html {
  overflow-y: scroll;
}
